.popular {
    .heading {
        text-align: center;
        padding-bottom: 2rem;

        span {
            font-family: "Satisfy", cursive;
            font-size: 3rem;
            color: #27ae60;
        }

        h3 {
            font-size: 3rem;
            color: #130f40;
        }
    }

    .box-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        gap: 1.5rem;

        .box {
            border-radius: 0.5rem;
            position: relative;
            background: #f7f7f7;
            padding: 2rem;
            text-align: center;

            .fa-heart {
                position: absolute;
                top: 1.5rem;
                right: 1.5rem;
                font-size: 2.5rem;
                color: #666;
                cursor: pointer;
            }

            .fa-heart:hover {
                color: #27ae60;
            }

            .image {
                margin: 1rem 0;

                img {
                    height: 15rem;
                }
            }

            .content {
                h3 {
                    font-size: 2rem;
                    color: #130f40;
                }

                .stars {
                    padding: 1rem 0;
                    font-size: 1.7rem;

                    i {
                        color: gold;
                    }

                    span {
                        color: #666;
                    }
                }

                .price {
                    font-size: 2rem;
                    color: #130f40;

                    span {
                        font-size: 1.5rem;
                        color: #666;
                        text-decoration: line-through;
                    }
                }

                .btn {
                    display: inline-block;
                    margin-top: 1rem;
                    padding: 0.7rem 1.8rem;
                    font-size: 1.7rem;
                    cursor: pointer;
                    color: #fff;
                    background: #27ae60;
                    border-radius: 0.5rem;
                }

                .btn:hover {
                    background: #130f40;
                }
            }
        }
    }
}