.modal-body-container {
    display: flex;
    margin-top: 20px;

    .category {
        width: 20%;
        display: block;
        padding-left: 50px;

        p {
            font-size: 16px;
            cursor: pointer;
        }
    }

    .search-render {
        width: 70%;

        .search-nike-container {
            display: grid;
            padding: 20px;
            grid-template-columns: 400px 400px;
            gap: 10px;

            .nike-container {
                display: flex;
                gap: 10px;

                .nike-image {
                    cursor: pointer;
                    width: 100px;

                    img {
                        width: 100%;
                    }
                }

                .nike-infor {
                    p {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

.search-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    position: relative;
    top: 0px;
}

.search-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1rem;
    color: #9fa6b2 !important;
    transition: 0.3s
}
.search-btn:hover {
    transform: scale(1.3)
}

.input-search {
    border: 1px solid black;
    outline: none;
    padding: 5px;
}